* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
  background-image: url(/imgs/snake\ background.jpeg);
  background-size: cover;
  background-position: center;
}

h1 {
  text-align: center;
  margin-bottom: 1rem;
}

.btn {
  margin: 0 auto;
  display: block;
  width: 100px;
  height: 50px;
  background-color: #000;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  cursor: pointer;
  transition: 0.5s;
  margin: 1rem auto;
}

p {
  text-align: center;
  font-size: 20px;
  margin: 1rem auto;
}

/* Stil für das Spielfeld */
#game-board {
  display: grid;
  width: 400px;
  height: 400px;
  grid-template-rows: repeat(20, 20px);
  grid-template-columns: repeat(20, 20px);
  border: 1px solid #ccc;
  margin: 0 auto;
  background-image: url(/imgs/wiese\ background.jpg);
  background-size: cover;
  background-position: center;
}

/* Stil für die Schlange */
.snake {
  background-color: #333;
}

/* Stil für das Essen */
.food {
  background-color: #f00;
  border-radius: 10px;
}

#creator{
  animation: forward 2s infinite;
}

@keyframes forward {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(0);
  }
}